body {
    margin: 0;
    background-color: rgb(45, 45, 45);
}

.div--container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}

.div--textbox {
    background-color: rgb(25, 25, 25);
}

.div--title {
    padding: 1px;
    background-color: rgb(61, 61, 61);
    color:rgb(219, 219, 219);
    font-family: 'Lucida Sans';
    font-size: 10px;
    text-align: center;
}

.div--history {
    padding-left: 10px;
    color:rgb(161, 161, 161);
    font-family:'Courier New';
    font-size: 14px;
}